<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.mapper">

	<!-- 게시판 리스트 -->
	<select id="list" resultType="notice.NoticeVO">
		select rownum no, n.*, (select name from 
								member where id = n.writer ) name 
		from (select * from notice order by id) n
		order by no desc
	</select>
	
	<!-- 게시판 등록 -->
	<insert id="insert">
		insert into notice (id, root, title, content, writer, filename, filepath) 
		values (seq_notice.nextval, seq_notice.currval, #{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR})
	</insert>
	
	<!-- 게시판 상세정보 -->
	<select id="detail" resultType="notice.NoticeVO">
		select n.*, (select name
					 from member
					 where id= n.writer) name  
		from notice n 
		where id = #{id}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="readcnt">
		update notice set readcnt = readcnt + 1 where id = #{id}
	</update>
	
	<!-- 공지글 삭제 -->
	<delete id="delete">
		delete from notice where id = #{id}
	</delete>
	
	<!-- 공지글 수정 -->
	<delete id="update">
		update notice set title =#{title}, content=#{content}, 
						filename=#{filename, jdbcType=VARCHAR}, 
						filepath = #{filepath, jdbcType=VARCHAR}
		where id = #{id}	
	</delete>
	
	<!-- 공지글 총 목록수 -->
	<select id="totalList" resultType="Integer">
		select count(*) from notice <include refid='where_search'/>
	</select>
	
	<!-- 공지글 리스트 페이지 처리 -->
	<select id="listpage" resultType="notice.NoticeVO">
		select *
		from ( select rownum no, n.*, (select name from member where id = n.writer) name from (select * from notice <include refid="where_search"/> order by root, step desc) n order by no desc)
		where no between #{beginList} and #{endList}
	</select>
	

	<!-- 
	mybatis에서 sql 구문 작성 include를 통해 활요 
	
	이때 id를 참조하여 반복되는 쿼리를 재황룔
	-->
	<sql id='where_search'>
		<!-- 제목에 '테스트' 마른 문자가 있는 것을 조회한다면 where title like '테스트'-->
		<if test="search == 'title' or search =='content'">
			where ${search} like '%'||#{keyword}||'%'
		</if>
	
		<!-- 작성자에 '자' 문자가 있는 것을 조회한다-->
		<if test="search == 'writer'">
			where writer in (select id from member where name like '%'||#{keyword}||'%')
		</if>
		<if test="search == 'all'">
			where title like '%'||#{keyword}||'%'
			or	  content like '%'||#{keyword}||'%'	    
			or	  writer in (select id from member where name like '%'||#{keyword}||'%')	    
		</if>
	</sql>
	
	<!-- 답글 저장 -->	 
	<insert id="reply_insert">
		<!-- 
		root : 원 글의 id를 root 로 그대로 담는다.
		step : 동일한 root 를 갖는 글에 대해 원글의 step 보다 더 큰 step 을 가진 경우
			   step +1 로 변경한 후 원글의 step+1 로 저장한다.
		indent : 원글의 indent +1	   
	 	-->
	 
	 	<!-- step -->
	 	<!-- 오라클의 경우 여러 쿼리문을 작성할 경우 명령행을 구분하기 위하여 ; 을 붙인다 -->
	 	<!-- 오라클은 myBatis에서 여러 행의 처리를 기본 지원하지 않음 그래서 프로그램을 작성해야 합니다 -->
	 	<!-- 프로그램 선언한 부분을 중괄호로 묶어서 프로그램 지정 -->
	 	<!-- 익명의 프로그램 호출하는데 선언 call declare : class -->
		<!-- 실행부 begin end : { } -->
		
		<!--
			쿼리문에 < > 등 부등호 기호를 태그 형태로 인식함
			방지하기 위하여 CDATA 처리를 함 
		-->
	 	
 		{
 		call declare
 		begin	    
	 		update notice set step = step+1 where root = #{root} and step <![CDATA[ > ]]> #{step};
			 				 	
			insert into notice (id, title, content, writer, filename, filepath, root, step, indent)
			values (seq_notice.nextval, #{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR}
					, #{root}, #{step}+1, #{indent}+1);
		end
		}
	</insert>
	
	
	
</mapper>