<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.mapper">

	<!-- 게시판 리스트 -->
	<select id="list" resultType="notice.NoticeVO">
		select rownum no, n.*, (select name from 
								member where id = n.writer ) name 
		from (select * from notice order by id) n
		order by no desc
	</select>
	
	<!-- 게시판 등록 -->
	<insert id="insert">
		insert into notice (id, title, content, writer, filename, filepath) 
		values (seq_notice.nextval, #{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR})
	</insert>
	
	<!-- 게시판 상세정보 -->
	<select id="detail" resultType="notice.NoticeVO">
		select n.*, (select name
					 from member
					 where id= n.writer) name  
		from notice n 
		where id = #{id}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="readcnt">
		update notice set readcnt = readcnt + 1 where id = #{id}
	</update>
	
	<!-- 공지글 삭제 -->
	<delete id="delete">
		delete from notice where id = #{id}
	</delete>
	
	<!-- 공지글 수정 -->
	<delete id="update">
		update notice set title =#{title}, content=#{content}, 
						filename=#{filename, jdbcType=VARCHAR}, 
						filepath = #{filepath, jdbcType=VARCHAR}
		where id = #{id}	
	</delete>
	
	<!-- 공지글 총 목록수 -->
	<select id="totalList" resultType="Integer">
		select count(*) from notice <include refid='where_search'/>
	</select>
	
	<!-- 공지글 리스트 페이지 처리 -->
	<select id="listpage" resultType="notice.NoticeVO">
		select *
		from ( select rownum no, n.*, (select name from member where id = n.writer) name from (select * from notice <include refid="where_search"/> order by id) n order by no desc)
		where no between #{beginList} and #{endList} 
	</select>
	

	<!-- 
	mybatis에서 sql 구문 작성 include를 통해 활요 
	
	이때 id를 참조하여 반복되는 쿼리를 재황룔
	-->
	<sql id='where_search'>
		<!-- 제목에 '테스트' 마른 문자가 있는 것을 조회한다면 where title like '테스트'-->
		<if test="search == 'title' or search =='content'">
			where ${search} like '%'||#{keyword}||'%'
		</if>
	
		<!-- 작성자에 '자' 문자가 있는 것을 조회한다-->
		<if test="search == 'writer'">
			where writer in (select id from member where name like '%'||#{keyword}||'%')
		</if>
		<if test="search == 'all'">
			where title like '%'||#{keyword}||'%'
			or	  content like '%'||#{keyword}||'%'	    
			or	  writer in (select id from member where name like '%'||#{keyword}||'%')	    
		</if>
	</sql>
	
	<!-- 답글 저장 -->
	<insert id="reply_insert">
		insert into notice ()
		values ()
		where id =	#{id}
	</insert>
</mapper>